@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixin.scss";
.security {
    min-width: 600px;
  .block {
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-border;
    .title,
    .group {
      width: 50%;
    }
    .title {
      color: #68737d;
      font-weight: 500;
    }
    .group {
     
      button {
        min-width: 120px;
      }
    }
  }
}

.wrapContentModal {
  h3 {
    padding: 0 0 20px 0;
    border-bottom: 1px solid $gray-border-2;
    @include mq(md, "max") {
      padding: 16px;
    }
  }
  .wrapForm {
    padding-top: 10px;
    @include mq(md, "max") {
      padding: 16px;
    }
  }
}
.recoveryCode {
    button {
        padding-left: 0 !important;
    }
    margin-bottom: 10px;
}