@import "../../../styles/variables.scss";
.MDPhone {
  height: 40px;
  border: 1px solid $gray-border;
  border-radius: 6px;
  .phoneSelect {
    border: none;
    height: 100%;
    width: 30%;
    :global {
      .ant-select-selector {
        height: 100%;
        border: none;
        .ant-select-selection-item,
        .ant-select-selection-search {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .phoneInput {
    width: 70%;
    border: none;
    border-left: 1px solid $gray-border;
    border-radius: 0 6px 6px 0;
  }
}
