@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";
.container {
  height: calc(100vh - 48px - 64px);
  overflow: hidden;
  min-height: calc(100vh - 48px - 64px);
  max-height: calc(100vh - 48px - 64px);
  display: flex;
  width: 100%;
  border: 1px solid $gray-border;
  position: relative;
  ::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent;
    height: 5px !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    width: 5px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar {
    width: 0 !important;
  }
  .buttonToggle {
    position: absolute;
    right: 20px;
    top: 70px;
  }
  :global {
    .ant-tabs-nav-wrap {
      padding: 10px 20px 0;
      .ant-tabs-tab {
        padding-bottom: 6px;
      }
      .ant-tabs-ink-bar {
        height: 3px;
      }
      .ant-tabs-tab-btn {
        // font-weight: 500;
        font-size: 15px;
      }
    }
    .ant-tabs-content-holder {
      padding: 5px 20px;
      // overflow-x: hidden;
      overflow: hidden;
    }
    .ant-tabs-tabpane {
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .ant-tabs-nav::before {
      border-color: $gray-border;
    }
  }
  .wrapInfo {
    width: 360px;
    background-color: $white-color;
    border-left: 1px solid $gray-border;
    // padding: 8px;
    // border: none;
    overflow-y: scroll;
  }
  .wrapSetting {
    width: calc(100% - 360px);
    background-color: $white-color;
    @include breakpoints(zero, lg) {
      width: 100%;
    }
  }
}
.myProfile {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 0;
  @include mq(md, "max") {
    flex-direction: column;
  }
  .profile {
    display: flex;
    align-items: center;
    @include mq(md, "max") {
      margin-bottom: 10px;
    }
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    :global {
      .ant-image-mask {
        border-radius: 50%;
      }
      .ant-image-mask-info {
        font-size: 0;
      }
    }
    .name {
      font-size: 20px;
      font-weight: 500;
      margin-left: 10px;
      margin-right: 5px;
    }
    .edit {
      cursor: pointer;
      svg {
        fill: $gray-border;
        stroke: $gray-border;
      }
    }
  }
}
.contentWrap {
  .blockContent {
    padding: 15px 10px;
    background-color: $white-color;
    border-bottom: 1px solid $gray-border;
    &:last-child {
      border: none;
    }
    // border-radius: 5px;
    // margin-bottom: 8px;
  }
  :global {
    .ant-image-mask {
      border-radius: 50%;
    }
  }
  .avatar {
    border-radius: 50%;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.formInfo {
  :global {
    .ant-form-item-label {
      min-width: 80px;
      width: 80px;
      flex: unset;
      text-align: start;
      label {
        font-size: 13px;
        &::before,
        &::after {
          display: none !important;
        }
      }
    }
  }
}
.formItem {
  :global {
    .ant-form-item {
      input {
        font-size: 13px !important;
        height: 36px !important;
      }
    }
  }
}
.avatarWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  :global {
    .ant-upload-wrapper.ant-upload-picture-circle-wrapper
      .ant-upload.ant-upload-select {
      margin: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .wrapActionAvatar {
    position: absolute;
    bottom: -15px;
    width: fit-content;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    .edit,
    .removeAvatar {
      background-color: $white-color;
      border: 1px solid $gray-border;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
    }
    .removeAvatar {
      margin-right: 8px;
    }
  }
}
.moreInfo {
  display: flex;
  height: 32px;
  align-items: center;
  .label {
    min-width: 80px;
    width: 80px;
    font-size: 13px;
    text-align: left;
    padding-right: 10px;
  }
  .result {
    color: #68737d;
    font-size: 13px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
}
.groupButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // display: none;
  .shiningButton {
    margin-left: 10px;
    animation: glowing 1.1s infinite linear;
    // transition: all 0.3s;
  }
}
.showButton {
  display: flex;
}

@keyframes glowing {
  0% {
    opacity: 1;
    box-shadow: unset;
  }
  50% {
    opacity: 0.7;
    box-shadow: rgba(16, 121, 226, 0.2) 0px 7px 29px 0px;
  }
  100% {
    opacity: 1;
    box-shadow: unset;
  }
}
