.wrapPagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.groupTopTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .search {
        width: 385px;
    }
}