.ViewWidget {
  border-radius: 20px;
  // max-height: 700px;
  border-radius: 8px;
  background-color: rgb(239, 242, 245);
  position: relative;
letter-spacing: 0.06rem;
button {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
  .header {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .logo-container {
      max-height: 32px;
      width: max-content;
      overflow: hidden;
      .logo {
        max-height: 32px;
        width: initial;
        display: block;
        margin: 0 auto;
        object-fit: contain;
      }
    }

    .title {
      @apply whitespace-nowrap overflow-hidden truncate font-semibold;
      font-size: 20px;
      max-width: 350px;
      line-height: initial;
    }
  }

  .content {
    padding-bottom: 16px;
    position: relative;
    padding-top: 90px;
    .form-demo {
      margin: 15px;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
        0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

      .card {
        .card-header {
          padding: 17px 24px;
          border-bottom: 1px solid #f0f0f0;
        }
        .card-body {
          padding: 24px;
          input, textarea {
            border: 1px solid #d9d9d9 !important;
              border-radius: 6px;
              height: 37px;
              &::placeholder {
                color: rgba(0, 0, 0, 0.25);
              }
          }
          .Polaris-Labelled__LabelWrapper, .label {
            margin-bottom: 8px !important;
          }
          .Polaris-TextField__Backdrop {
            border: 1px solid #d9d9d9 !important;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
.header-title {
  font-size: 20px;
}
.float-button {
  padding-left: 20px !important;
  padding-right: 20px !important;
  .md-font-customize-widget {
    margin-left: 8px;
    font-size: 20px !important;
  }
}