.btn-active {
  border-color: #009b4d;
  background: #009b4d;
  color: #fff;

  &:hover {
    border-color: #01ac56;
    background: #01ac56;
  }
}

.btn-edit {
  background-color: rgba(246, 170, 18, 1);
  color: #fff;
  border-color: rgba(246, 170, 18, 1);

  &:hover {
    border-color: rgba(246, 180, 50, 1) !important;
    background-color: rgba(246, 180, 50, 1) !important;
    color: #fff !important;
  }
}
