@import "./Button.scss";
@import "./variables.scss";
@import "./mixin.scss";
.unstyle-link a {
  text-decoration: none;
  color: #202223;
  font-weight: 600;
}
.text-line-through {
  text-decoration: line-through;
}
.text-left-button {
  text-align: start;
  button:last-child {
    margin-left: 0 !important;
  }
}
.unstyle-link a:hover {
  text-decoration: underline;
  color: #202223;
}
.hover-text {
  &:hover {
    text-decoration: underline;
    color: #1677ff;
  }
}
.link {
  color: #1677ff;
  text-decoration: underline;
  cursor: pointer;

  &.disabled {
    cursor: default;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45);
  }
}
.one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
.hide-label {
  .ant-form-item-label {
    visibility: hidden;
    display: none;
  }
}

.tox-notifications-container {
  display: none !important;
}
.tox-editor-dock-fadeout {
  opacity: 1 !important;
  visibility: visible !important;
}

.ant-form-inline {
  .ant-form-item {
    margin-bottom: 24px;
  }
}

.ant-form-item-explain-error {
  font-size: 13px;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-column-mobile {
  @include mq(md, "max") {
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start !important;
  }
}
.ml-0-mobile {
  @include mq(md, "max") {
    margin-left: 0 !important;
  }
}
.justify-between {
  justify-content: space-between;
}
.fit-content {
  width: fit-content;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.text-underlined {
  text-decoration: underline;
  color: #1677ff;
}
.text-bold {
  font-weight: 700;
}
.text-default {
  color: $character-title !important;
}
.text-line-through {
  text-decoration: line-through;
}
// global css antd
.ant-input-lg {
  border-radius: 6px;
}
// .ant-btn-lg {
//   border-radius: 6px !important;
//   font-size: 14px !important;
// }
.ant-btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-form-item-required::before {
  position: absolute;
  font-size: 18px;
  right: -14px;
  top: 5px;
}
.ant-table-thead {
  .ant-table-cell {
    font-size: 12px !important;
    padding: 8px 16px !important;
  }
}
.recharts-legend-wrapper {
  bottom: -8px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
input,
textarea,
select,
span {
  font-size: 14px !important;
}
