@import "./Button.scss";

.unstyle-link a {
  text-decoration: none;
  color: #202223;
  font-weight: 600;
}

.unstyle-link a:hover {
  text-decoration: underline;
  color: #202223;
}

.link {
  color: #1677ff;
  text-decoration: underline;
  cursor: pointer;

  &.disabled {
    cursor: default;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45);
  }
}

.hide-label {
  .ant-form-item-label {
    visibility: hidden;
  }
}

.tox-notifications-container {
  display: none !important;
}

.ant-form-inline {
  .ant-form-item {
    margin-bottom: 24px;
  }
}

.ant-form-item-explain-error {
  font-size: 13px;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.text-underlined {
  text-decoration: underline;
  color: #1677ff;
}
.text-bold {
  font-weight: 700;
}
.text-line-through {
  text-decoration: line-through;
}