@import "./Button.scss";

.unstyle-link a {
  text-decoration: none;
  color: #202223;
  font-weight: 600;
}

.unstyle-link a:hover {
  text-decoration: underline;
  color: #202223;
}

.link {
  color: #1677ff;
  text-decoration: underline;
  cursor: pointer;

  &.disabled {
    cursor: default;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45);
  }
}

.hide-label {
  .ant-form-item-label {
    visibility: hidden;
  }
}

.tox-notifications-container {
  display: none !important;
}
