@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.MDPagination {
  display: flex;
  align-items: center;
  :global {
    .ant-pagination-total-text {
      color: $opacity-black;
    }
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-item {
      border: 1px solid $gray-border;
    }
    .ant-pagination-item-active {
        border-color: $primary;
    }
  }
}
