.Statistic {
  display: flex;
  .card-statistic {
    border: 1px solid #d9d9d9;
  }
  .block {
    width: 20%;
    .text-center {
      text-align: center;
      font-size: 12px;
      font-weight: 500;
    }
  }
    .Polaris-Card {
      min-height: 120px;
      max-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .Polaris-Card__Header {
      padding: 10px 0 !important;
    }
}
