@import "../../../../styles/variables.scss";
.main-content {
  // min-height: 450px;
  padding: 0 20px 20px;
}
.group-button-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid $border-gray-2;
  padding: 16px;
}