@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.groupTopPage {
  // margin-bottom: 16px;
  .buttonAdd {
    margin-left: 8px;
  }
}
.searchInputWrap {
  width: 448px;;
  @include breakpoints(md, lg) {
    width: 230px;
  }
}
.topPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @include mq(md, "max") {
    padding: 0 16px;
  }
}
.groupSearchOnMobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  @include mq(md, "max") {
    padding: 0 10px;
  }

  .searchOnMobile {
    width: calc(100% - 50px);
  }
}
