@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.groupTopPage {
  // margin-bottom: 16px;
  
}
.buttonAdd {
  margin-left: 8px;
}
.searchInputWrap {
  width: 300px;
  @include breakpoints(md, lg) {
    width: 200px;
  }
}
.topPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @include mq(md, "max") {
    padding: 0 16px;
  }
}
.groupSearchOnMobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  @include mq(md, "max") {
    padding: 0 10px;
  }

  .searchOnMobile {
    width: calc(100% - 50px);
  }
}
.groupButtonImport {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  @include mq(md, "max") {
      padding: 0 16px;
    }
}
.btnSync {
  width: 100%;
  button {
    border: none;
    width: 100%;
    span {
      justify-content: flex-start;
      span {
        text-align: start;
      }
    }
    
  }
}
:global {
  .Polaris-DropZone__Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.moreOption {
  margin-left: 8px;
}
.wrapDropzone {
  padding: 20px;
}
.groupButtonFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}