@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.groupFilter {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  @include mq(md, "max") {
    margin: 16px 0 10px;
    .dateTime {
      padding: 0 16px;
    }
  }
}
.wrapTop {
  @include mq(md, "max") {
    padding: 0 16px;
  }
}
.wrapPagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.datePickerCustomer {
  width: 100px;
}
.endDateBlock {
  margin-left: 15px;
}

.groupRangeTimeRender {
  margin-bottom: 20px;
  margin-left: 5px;
}
.statistic {
  margin-bottom: 20px;
}
.chartBlock {
  margin-bottom: 16px;
  .wrapChart {
    height: 450px; // padding-bottom:10px;
    @include mq(md, "max") {
      height: 250px;
    }
  }
}
.groupTopTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(md, "max") {
    padding: 0 16px;
  }

  .search {
    width: 300px;
    @include breakpoints(md, lg) {
      width: 200px;
    }
  }
}
.groupSearchOnMobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  @include mq(md, "max") {
    padding: 0 10px;
  }

  .searchOnMobile {
    width: calc(100% - 50px);
  }
}
