.resetPassword {
  height: calc(100vh - 64px - 48px);
  display: flex;
  @apply py-6 text-base;
  .card {
    border-radius: 6px;
    border: 1px solid #484242;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;

    &-image {
      @apply flex justify-center items-center;
      margin-bottom: 50px;
    }
  }

  .error-message {
    color: #ff4d4f;
  }
}
