@import "../../../../../styles/variables.scss";

.formWrap {
  margin-top: 32px;

  :global {
    .ant-form-item-required {
      color: $character-title;

      &::before {
        display: none !important;
      }
    }

    .ant-input,
    .ant-input-password {
      border-radius: 6px !important;
    }
  }
}

.wrapLink {
  margin-top: 32px;
}

.link {
  color: $primary !important;
  font-size: 16px;

  &:hover {
    color: $primary-hover !important;
  }
}
.subHeader {
  color: $opacity-black;
  margin-bottom: 0;
}
.error {
  background-color: $dust-red;
  margin-bottom: 0;
  color: $error-color;
  padding: 12px;
  border-radius: 6px;
  line-height: 22px;
}
.buttonChange {
  width: 100%;
  margin-top: 8px;
  background-color: $primary;
  font-size: 16px;
  border-radius: 6px;

  &:hover {
    background-color: $primary-hover !important;
  }
}
