@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.wrapActivities,
.wrapTodoList {
  // position: relative;
  width: 100%;
  word-break: break-word;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  overflow-y: scroll;
  @include mq(lg, 'max') {
    padding-top: 20px;
    max-height: 546px;
    // min-height: 546px;
    //   height: 546px;
  }
}
.loadMoreButton {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  // color: $primary;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.activateWrap {
  // color: $opacity-black;
  margin-bottom: 12px;
  .name {
    // color: $character-title;
    font-weight: 600;
  }
  .ticketTitle {
    // color: $link;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.toggleWrap {
  background-color: $white-color;
  // border-top: 1px solid $border-gray;
  border-radius: 8px;
  &:last-child {
    border-radius: 0px 0px 12px 12px;
  }
   
  .wrapHeaderToggle {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: $background-collapse;
    border: 1px solid $border-collapse;
    border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    
  }
  .closeStatus {
    border-radius: 8px;
  }
  .wrapChildren {
  padding: 0 20px 50px;
  position: relative;
  }
  .name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
  }

}

.collapseIcon {
  // transform: rotate(-90deg);
  transition: transform 0.25s;
  margin-right: 12px;
}

.collapseIconActive {
  transform: rotate(-180deg);
}