@import "../../../styles/mixin.scss";
.wrapContent {
  position: relative;
  // max-width: calc(100% - 300px);
  padding-right: 20px;
  transition: all 0.5s;
  width: 100%;
}
.container {
  // display: flex;
}
.wrapSearchToggle {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
  @include breakpoints(zero, lg) {
  display: flex;
  gap: 8px;
 
    top: 2px;
  }
}

.toggleButton {
  font-size: 30px;
  animation: scaleUpDown infinite;
  &:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
  }
}
.toggleButtonOpen,
.toggleButtonClose {
  &::after {
    content: "Search Order";
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 5px;
    height: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover::after {
    opacity: 1;
  }
}
.toggleButtonClose {
  &::after {
    content: "Close";
    width: 60px;
  }
}
@keyframes scaleUpDown {
  0% {
    font-size: 30px;
  }

  50% {
    font-size: 35px;
  }
  100% {
    font-size: 30px;
  }
}
// .maxWidthContent {
//   max-width: calc(100% - 400px);
// }
