@import "../../../styles/variables.scss";
.container {
  background-image: url(../../../assets/images/loginBackground.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-color: $background-gray-color;
  background-position: center;
  background-size: cover;
  .loginWrap {
    position: absolute;
    top: 0;
    right: 7.3%;
    bottom: 0;
    width: 586px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    .box {
      width: 100%;
      background-color: $white-color;
      padding: 40px 32px;
      box-shadow: 0px 10px 24px 2px rgba(57, 41, 24, 0.1);
      border-radius: 24px;
    }
  }
  .logo {
    height: 56px;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .contentWrap {
    :global {
      .ant-form-item-required {
        color: $character-title;

        &::before {
          display: none !important;
        }
      }

      .ant-input,
      .ant-input-password {
        border-radius: 8px !important;
      }
      button {
        border-radius: 16px !important;
        height: 56px !important;
      }
    }
  }
}
