@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";
.pageContent {
  @include mq(md, "max") {
    padding: 0 16px;
  }
  .wrapForm {
    width: 55%;
    min-width: 656px;
    margin-top: 20px;
    @include mq(lg, "max") {
      width: 100%;
      min-width: unset;
    }
  }
}
.groupButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  border-top: 1px solid $border-gray-2;
  button:last-child {
    margin-left: 8px;
  }
}
.wrapContent {
  margin-top: 20px;
  width: 100%;
}
.layoutCustom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  @include mq(lg, "max") {
    flex-direction: column;
  }
  .wrapFormSecurity {
    width: 55%;
    min-width: 500px;

    @include mq(lg, "max") {
      width: 100%;
      min-width: unset;
    }
  }
  .wrapSubForm {
    width: 45%;
    @include mq(lg, "max") {
      margin-top: 0;
      width: 100%;
    }
  }
}
.wrapFormAndToggle {
  display: flex;
  margin-top: 16px;
  margin-bottom: 12px;
  .note {
    width: calc(100% - 48px);
    margin-left: 8px;
  }
}
.domainForm {
  width: 70%;
  @include mq(lg, "max") {
    width: 100%;
  }
  .labels {
    margin-bottom: 4px;
  }
}
