@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";
.container {
  height: calc(100vh - 56px);
  overflow: hidden;
  min-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  margin-bottom: -2rem;
  display: flex;
  width: 100%;
  border: 1px solid $border-gray;
  position: relative;
  .buttonToggle {
    position: absolute;
    right: 20px;
    top: 70px;
  }
 
  .wrapInfo {
    width: 360px;
    background-color: $white-color;
    border-left: 1px solid $border-gray;
    // padding: 8px;
    // border: none;
    overflow-y: scroll;
  }
  .wrapSetting {
    width: calc(100% - 360px);
    background-color: $white-color;
    @include breakpoints(zero, lg) {
      width: 100%;
    }
  }
}
.tabContentWrap {
  padding: 10px 20px;
  :global {
    .Polaris-LegacyCard {
      overflow-y: scroll;
    }
  }
}
.myProfile {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 0;
  align-items: center;

  @include mq(md, "max") {
    // flex-direction: column;
  }
  .buttonBack {
    padding-right: 16px;
    display: flex;
    align-items: center;
  }
  .profile {
    display: flex;
    align-items: center;
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 2989c34a (feat:done profile beta version in embedded)
    @include mq(md, "max") {
      margin-bottom: 0;
    }
   
    .name {
      font-size: 20px;
      font-weight: 500;
      margin-left: 10px;
      margin-right: 5px;
<<<<<<< HEAD
      max-width: calc(100% - 150px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 25px;
      @include mq(md, "max") {
        max-width: calc(100% - 80px);
      }
    }
  
=======
        max-width: calc(100% - 200px);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        
          @include mq(md, 'max') {
            max-width: calc(100% - 100px);
          }
    }
>>>>>>> 2989c34a (feat:done profile beta version in embedded)
  }
}
.contentWrap {
  .blockContent {
    padding: 15px 10px;
    background-color: $white-color;
    border-bottom: 1px solid $border-gray;
    &:last-child {
      border: none;
    }
    // border-radius: 5px;
    // margin-bottom: 8px;
  }
  
  .avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    :global {
      .Polaris-Avatar {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}
.formInfo {
  padding-top: 16px;
  :global {
<<<<<<< HEAD
    .Polaris-Grid-Cell>div, .Polaris-FormLayout__Item:nth-child(3)>div, .Polaris-FormLayout__Item:nth-child(4)>div {
=======
    .Polaris-Grid-Cell > div,
    .Polaris-FormLayout__Item:nth-child(3) > div,
    .Polaris-FormLayout__Item:nth-child(4) > div {
>>>>>>> 2989c34a (feat:done profile beta version in embedded)
      display: grid;
      grid-template-columns: 80px calc(100% - 80px);
    }
    .Polaris-TextField__Input {
      font-size: 13px;
    }
       
    .Polaris-Labelled__LabelWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: 10px;
      font-size: 13px;
      margin-bottom: 0;
    }
    .Polaris-Labelled__Error {
      word-break: keep-all;
      white-space: nowrap;
      margin-left: 80px;
    }
  }
}
.avatarWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  
  .wrapActionAvatar {
    position: absolute;
    bottom: -15px;
    width: fit-content;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    .edit,
    .removeAvatar {
      background-color: $white-color;
      border: 1px solid $border-gray;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
    }
    .removeAvatar {
      margin-right: 8px;
    }
  }
  .edit {
    position: relative;
  }
  .dropzone {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    :global {
      .Polaris-DropZone--sizeSmall {
        min-height: 30px;
      }
    }
  }
}
.moreInfo {
  display: flex;
  min-height: 32px;
  align-items: start;
  .label {
    min-width: 80px;
    width: 80px;
    font-size: 13px;
    text-align: start;
    padding-right: 10px;
  }
  .result {
    color: #68737d;
    font-size: 13px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
}
.groupButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // display: none;
  .shiningButton {
    margin-left: 10px;
    animation: glowing 1.1s infinite linear;
    // transition: all 0.3s;
  }
}
.showButton {
  display: flex;
}
.toggleButton {
  position: absolute;
  right: 20px;
  top: 25px;
<<<<<<< HEAD
  @include mq(md, "max") {
    top: 75px;
  }
=======

>>>>>>> 2989c34a (feat:done profile beta version in embedded)
}
@keyframes glowing {
  0% {
    opacity: 1;
    box-shadow: unset;
  }
  50% {
    opacity: 0.7;
    box-shadow: rgba(16, 121, 226, 0.2) 0px 7px 29px 0px;
  }
  100% {
    opacity: 1;
    box-shadow: unset;
  }
}
