.General {
  .card-contact {
    border-radius: 8px;
    border: 1px solid #dcdcdc;

    .header {
      padding: 8px 16px;
      border-bottom: 1px solid #dcdcdc;
    }

    .body {
      padding: 16px;
    }
  }
}
