@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.wrapActivities,
.wrapTodoList {
  // position: relative;
  width: 100%;
  word-break: break-word;
  max-height: calc(100vh - 360px);
  min-height: calc(100vh - 360px);
  height: calc(100vh - 360px);
  overflow-y: scroll;
  padding: 0 24px 56px;
  @include mq(md, "max") {
    padding: 16px 16px 56px;
    // padding-bottom: 16px;
  }
}
.loadMoreButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $primary;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0px 24px -16px #333 !important;
  &:hover {
    color: $primary-hover !important;
  }
  &:disabled {
    background-color: transparent;
    &:hover {
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}
.activateWrap {
  color: $opacity-black;
  margin-bottom: 12px;
  .name {
    color: $character-title;
    font-weight: 500;
  }
  .ticketTitle {
    color: $link;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.wrapCollapse {
  width: 100%;
  :global {
    .ant-collapse {
      width: 100%;
      .ant-collapse-header {
        background-color: $gray-background-2;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .ant-collapse-header-text {
        font-size: 16px;
        font-weight: 500;
      }
      .ant-collapse-content-box {
        position: relative;
        padding: 0;
      }
      .ant-collapse-item-active:last-child {
        .ant-collapse-header {
          border-radius: 0;
        }
      }
    }
  }
}
.actionLink {
  color: $character-title !important;
  &:hover {
    text-decoration: underline !important;
  }
}
.wrapActive {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}
.title {
  display: flex;
  align-items: center;

  span {
    margin-left: 12px;
  }
}
