@tailwind base;
@tailwind components;
@tailwind utilities;

.unstyle-link a {
  text-decoration: none;
  color: #202223;
  font-weight: 600;
}

.unstyle-link a:hover {
  text-decoration: underline;
  color: #202223;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.text-line-through {
  text-decoration: line-through;
}
.tox-notifications-container {
  display: none !important;
}

.Polaris-FormLayout--condensed {
  .Polaris-FormLayout__Item {
    &:first-child {
      margin-left: 0 !important;
    }
  }
}
.a-wrap {
  a {
    word-break: break-all;
  }
}
.pointer {
  cursor: pointer;
}
.text-red {
  color: rgba(215, 44, 13, 1);
}
.mb-9px {
  margin-bottom: 9px;
}
.flex-center {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.Polaris-Button--pressed {
  background-color: rgba(242, 117, 34, 1) !important;
  border-color: rgba(242, 117, 34, 1) !important;
}
