@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
@import "./mixin.scss";
body {
  font-family: "Open Sans", Arial, sans-serif;
}
.unstyle-link a {
  text-decoration: none;
  color: #202223;
  font-weight: 600;
}

.unstyle-link a:hover {
  text-decoration: underline;
  color: #202223;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.align-start {
  align-items: flex-start !important;
}
.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-line-through {
  text-decoration: line-through;
}
.tox-notifications-container {
  display: none !important;
}

.Polaris-FormLayout--condensed {
  .Polaris-FormLayout__Item {
    &:first-child {
      margin-left: 0 !important;
    }
  }
}
.a-wrap {
  a {
    word-break: break-all;
  }
}
.pointer {
  cursor: pointer;
}
.text-red {
  color: rgba(215, 44, 13, 1);
}
.text-default {
  color: $text-default !important;
  a {
    color: $text-default !important;
    word-break: break-word !important;
    white-space: pre-wrap;
  }
}
.max-width-200 {
  max-width: 200px;
}
.max-width-100-mobile {
  @include mq(md, "max") {
    width: 100px;
  }
}
.mb-9px {
  margin-bottom: 9px;
}
.h-100vh {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}
.flex-center {
  display: flex;
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
// Margin
.mt-12px {
  margin-top: 12px;
}
// Padding
.pb-12px {
  padding-bottom: 12px;
}
// Page

.page-wrap {
  padding: 24px 36px 154px;
  @include mq(md, "max") {
    padding: 20px 0 0;
  }
}
// Title

// Button
.md-btn {
  button {
    border: none;
    outline: none;
    border-radius: 4px;
    height: 36px;
  }
}
.md-btn-primary {
  button {
    background-color: $primary;
    color: $white-color;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.25s;
    &:hover {
      transition: all 0.25s;
      background-color: $primary-hover;
    }
  }
}

// Input

// Select

// Table

// Pagination

.ticket-statistic {
  overflow-x: auto;
  overflow-y: hidden;
  .Polaris-Button--pressed {
    background-color: $primary !important;
    border-color: $primary !important;
  }
  .Polaris-Button__Text {
    font-size: 12px !important;
  }
}
.Polaris-Button--primary {
  background-color: $primary !important;
  &:hover {
    background-color: $primary-hover !important;
  }
  &:active {
    background-color: $primary-active !important;
  }
}
.Polaris-Button--destructive {
  background: $critical !important;
  transition: all 0.25s;
  &:hover {
    transition: all 0.25s;
    background: $critical-hover !important;
  }
}
.Polaris-Button--disabled {
  // color: gray !important;
  background-color: #f1f1f1 !important;
}
.Polaris-Page-Header__TitleWrapper {
  max-width: 95% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Polaris-Modal-CloseButton {
  margin: 0 !important;
}
.Polaris-Tabs__Tab--selected .Polaris-Tabs__Title::before {
  background: $primary !important;
}
.Polaris-DatePicker__Day--selected {
  background: $primary !important;
}
.Polaris-DataTable__Heading {
  color: $subdued !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
// .Polaris-TextField--focus {
//   outline: $primary !important;
// }
.Polaris-Icon__Svg {
  // fill: yellow !important;
}
.Polaris-Navigation__Badge {
  .Polaris-Badge.Polaris-Badge--statusNew {
    background-color: $primary !important;
    .Polaris-Text--root.Polaris-Text--bodySm.Polaris-Text--medium {
      color: white;
    }
  }
}
// ::-webkit-scrollbar-thumb {
//   background-color: red !important;
// }
