$breakpointsUp: (
  xxl: 1536px,
  // for viewport big size
  dt: 1366px,
  // dt: desktop
  xl: 1280px,
  // for viewport less than laptop
  lg: 1024px,
  // for tablet landscape and laptop small
  md: 768px,
  // for tablet portrait
  sm: 640px,
  // for mobile has viewport like: iphone 7, 8, 9..
  mb: 375px,
  // mb: mobile
  xs: 320px,
  // for mobile has viewport small like iphone 5, 6,,,,,,,,,,,,,,,,,,
  //
  zero: 0px,
);

// Breakpoints down (from PC to Mobile)
$breakpointsDown: (
  xxl: 1535px,
  // for viewport big size
  dt: 1365px,
  // dt: desktop
  xl: 1279px,
  // for viewport less than laptop
  lg: 1023px,
  // for tablet landscape and laptop small
  md: 767px,
  // for tablet portrait
  sm: 639px,
  // for mobile has viewport like: iphone 7, 8, 9..
  mb: 374px,
  // mb: mobile
  xs: 319px,
  // for mobile has viewport small like iphone 5, 6,,,,,,,,,,,,,,,,,,
  zero: 0px,
);

// Color
$white-color: #ffffff;
$surface: #f0f0f0;
$on-surface: #111213;
$primary: rgba(242, 117, 34, 1);
$secondary: #cccccc;
$interactive: #2e72d2;
$critical: #d82c0d;
$warning: #ffc453;
$success: #fa7500;
$hight-light: #5bcdda;
$subdued:#6D7175;

// Hover

$primary-hover: rgba(216, 101, 13, 1);
$primary-active: rgba(164, 76, 10, 1);
$critical-hover: #BC2200
