.container {
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
    color: #000;
  }
  .block {
    height: 36px;
    width: 100px;
    border: 1px solid #e5e7eb;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}
.wrapDatePicker {
  :global {
    .Polaris-Box {
      display: none;
    }
  }
  .block {
    // display: none;
  }
}
.placeholder {
    color: #878787;
}
.value {
    color: #000;
}