.container {
  display: flex;
  align-items: center;
  .block {
    height: 36px;
    width: 100px;
    border: 1px solid #e5e7eb;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}
.wrapDatePicker {
  display: flex;
  align-items: center;
  .note {
    margin-left: 8px;
  }
  :global {
    .Polaris-Box {
      display: none;
    }
  }
  .block {
    // display: none;
  }
}
.placeholder {
    color: #878787;
    font-size: 12px;
}
.value {
    color: #000;
}
.groupActionButton {
  padding: 20px 20px 0;
  display: flex;
  justify-content: flex-end;
  .clearBtn {
    margin-right: 10px;
  }
  .clearBtn, .submitBtn {
    width: 75px;
    button {
      width: 100%;
    }
  }
  .submitBtn {
    :global {
      .Polaris-Button {
          background-color: #FA7D00;
          color: #fff;
        }
        .Polaris-Button--disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
    }
  }
}