@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";

.wrapForm {
  width: 55%;
  min-width: 656px;
  padding: 24px;
  background-color: $white-color;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 24px;
  @include mq(md, "max") {
    width: 100%;
    min-width: unset;
    margin-top: 16px;
    padding: 16px;
    box-shadow: unset;
  }
  @include breakpoints(md, lg) {
    width: 100%;
    min-width: unset;
    box-shadow: unset;
  }
  .groupButton {
    padding: 24px 24px 0 24px;
    border-top: 1px solid $border-form;
    margin: 0 -24px;
    button:last-child {
      margin-left: 12px;
      @include mq(md, "max") {
        margin-left: 8px;
      }
    }

    @include mq(md, "max") {
      padding: 16px 16px 0 16px;
      margin: 0 -16px;
    }
  }
}
.formTitle {
  margin-bottom: 16px;
}
.wrapSubForm {
  width: 45%;
  margin-top: 24px;
  margin-left: 16px;
  @include mq(md, "max") {
    margin-top: 16px;
    width: 100%;
    margin-left: 0;
  }
}
.mainContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include breakpoints(zero, lg) {
    flex-direction: column;
  }

  .wrapFormSecurity {
    width: 55%;
    min-width: 500px;

    @include mq(md, "max") {
      width: 100%;
      min-width: unset;
    }
  }

  .wrapSubForm {
    width: calc(45% - 16px);
    padding: 24px;
    background-color: $white-color;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    @include mq(md, "max") {
      margin-top: 16px;
      width: 100%;
      padding: 16px;
      box-shadow: unset;
    }
    @include breakpoints(md, lg) {
      width: 100%;
      margin-left: 0;
      box-shadow: unset;
    }
    .status {
      margin-top: 16px;
    }
  }
}
.recoveryCodeModal {
  width: 400px !important;
  :global {
    .ant-modal-content {
      padding: 0;
    }
    .ant-modal-footer {
      margin-top: 0;
    }
  }

  .title {
    padding: 20px;
    border-bottom: 1px solid $border-form;

    @include mq(md, "max") {
      padding: 16px;
    }
  }
  .content {
    padding: 10px 20px 20px;
    
    .listCode {
      border: 1px solid $gray-border;
      border-radius: 2px;
      padding: 16px 0 0 0;
      height: 220px;
      @include mq(md, "max") {
          height: 190px;
        }
      p {
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
      }
    }
  }
  .groupButton {
    margin-top: 16px;
    display: flex;
    button {
      margin-right: 12px;
      color: $link;
      height: 30px;
      padding: 0 10px;
    }
    @include mq(md, "max") {
      padding: 16px;
      width: 100%;
    }
  }
  @include mq(md, "max") {
    width: 100% !important;
  }
}
.blockLoading {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mq(md, "max") {
      height: 190px;
    }
}
.successfully {
  color: #28a745 !important;
}
