@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";
.MDModal {
  width: 686px !important;
}
.drawerWrap {
  :global {
    .ant-drawer-content-wrapper {
      height: unset;
    }
  }
}
.MDDrawer {
  :global {
    .ant-drawer-header {
    //   display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    width: fit-content;
    border-bottom: none;
    .ant-drawer-close {
        margin: 0;
        // z-index: 1;
    }
    }
    .ant-drawer-body {
        padding: 0;
    }
    .ant-drawer-footer {
        padding: 0;
        justify-content: flex-end;
        display: flex;
    }
  }
}
