@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.container {
  padding: 20px;
  background-color: $background-page-color;
  @include mq(md, "max") {
    padding: 16px;
  }
  .groupTopPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .title {
    font-size: 20px;
    line-height: 28px;
    color: $character-title;
    
  }
  .actionWrap {
  }
  .mainContent {
    // margin-top: 24px;
    // @include breakpoints(md, lg) {
    //   margin-top: 0px;
    // }
    @include mq(md, "max") {
      margin-top: 8px;
    }
  }
}
.onlyScreen {
  max-height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  overflow: hidden;
}
