@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixin.scss";

.subHeader {
  color: $opacity-black;
  margin-bottom: 0;
}

.error {
  background-color: $dust-red;
  margin-bottom: 0;
  color: $error-color;
  padding: 12px;
  border-radius: 6px;
  line-height: 22px;
}

.formWrap {
  margin-top: 32px;
  @include mq(md, "max") {
    margin-top: 24px;
  }
  .buttonLogin {
    width: 100%;
    margin-top: 32px;
    background-color: $primary;
    font-size: 16px;
    @include mq(md, "max") {
      margin-top: 24px;
    }
    &:hover {
      background-color: $primary-hover;
    }
  }
}
.formPassword {
  margin-bottom: 0 !important;
}
.wrapLink {
  margin-top: 16px;
  cursor: pointer;
  p {
    margin-bottom: 0;
  }
  @include mq(md, "max") {
    margin-top: 12px;
  }
}
.link {
  color: $primary !important;
  font-size: 16px;
  @include mq(md, "max") {
    font-size: 14px;
  }
  &:hover {
    color: $primary-hover !important;
  }
}
