.editor-signature {
  .tox-tinymce {
    border: 1px solid #d9d9d9 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: none;
  }
  .md-custom-border {
    background-color: white;
  }
  #my-editor {
    background-color: transparent;
  }
}
