.redirectLandingPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.groupButtonStep2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}