@import "../../../styles/variables.scss";
.avatar {
    border-radius: 50%;
    border: 1px solid $gray-border;
}
.haveBackground {
    color: $white-color;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}