.childDiv {
  width: 75px;
  height: 75px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}
.dropzone {
  border: 2px dotted #e8eaea;
}
.item-file {
  border: 2px dotted #e8eaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0px;
  max-width: 300px;
}
.item-file-row {
  border: 2px dotted #e8eaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 0px;
  max-width: 250px;
}