.forgotPassword {
  height: calc(100vh - 64px - 48px);
  display: flex;
  @apply py-6 text-base;
  .card-forgot-password {
    border-radius: 6px;
    border: 1px solid #484242;
    width: 450px;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;
  }

  .error-message {
    color: #ff4d4f;
  }
}
