@import "../../../../../styles/variables.scss";

.container {
  background-image: url(../../../../../assets/images/loginBackground.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-color: $background-gray-color;
  background-position: left 3.9% top 35%;
  .logo {
    height: 56px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .subHeader {
    color: $opacity-black;
    margin-bottom: 0;
    line-height: 22px;
  }
  .formWrap {
    margin-top: 32px;
    :global {
      .ant-form-item-required {
        color: $character-title;
        &::before {
          display: none !important;
        }
      }
      .ant-input,
      .ant-input-password {
        border-radius: 6px !important;
      }
    }
    .reCaptcha {
      border: none;
    }
    input:autofill {
      background-color: transparent !important;
    }

    input:-webkit-autofill {
      background-color: transparent !important;
    }

    .buttonSubmit {
      width: 100%;
      // margin-top: 32px;
      background-color: $primary;
      font-size: 16px;
      border-radius: 6px;
      &:hover {
        background-color: $primary-hover;
      }
    }
  }
  .forgotWrap {
    position: absolute;
    height: 100%;
    top: 20%;
    right: 7.3%;
    bottom: 0;
    width: 584px;
    padding: 0 100px;
  }
}
.wrapLink {
  margin-top: 16px;
}
.link {
  color: $primary !important;
  font-size: 16px;
  &:hover {
    color: $primary-hover !important;
  }
}
    .error {
      background-color: $dust-red;
      margin-bottom: 0;
      color: $error-color;
      padding: 12px;
      border-radius: 6px;
      line-height: 22px;
    }