.subject {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: 400px;
  max-height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}