@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.groupTopPage {
  .buttonAdd {
    margin-left: 12px;
    @include mq(md, 'max') {
      margin-left: 8px;
    }
  }
}

.searchInputWrap {
  width: 284px;
  @include breakpoints(md, lg) {
    width: 230px;
  }
}

.topPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @include mq(md, "max") {
    // padding: 0 16px;
  }
}

.groupSearchOnMobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @include mq(md, "max") {
    // padding: 0 10px;
  }

  .searchOnMobile {
    width: calc(100% - 38px);
  }
}
.wrapTable {
  background-color: $white-color;
  padding-bottom: 8px;
  border-radius: 8px;
  @include mq(md, "max") {
    margin: 0 -16px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 16px;
  @include mq(md, "max") {
    // justify-content: center;
  }
}
.wrapMoreActions {
  margin-left: 12px;
  
    @include mq(md, 'max') {
      margin-left: 8px;
    }
}
.groupOptions {
  display: flex;
  flex-direction: column;
  button {
    text-align: start;
  }
}
.syncBtn {
  border: none;
}
.syncingBtn {
  display: flex;
  align-items: center;
  .infoPicker {
    margin-left: 5px;
    height: fit-content;
  }
}
.wrapEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.groupButtonTableEmpty {
  display: flex;
  align-items: center;
}

.fileName {
    padding: 2px 4px;
    background-color: #faad14;
    color: $white-color;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
  }

