@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.bottomBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .title {
    font-size: 16px;
    font-weight: 500;
    color: $character-title;
    padding: 0 24px 16px;
    // box-shadow: 0px 9px 20px -16px #a39e9e;
    // margin-bottom: 10px;
    display: flex;
    align-items: center;
    @include breakpoints(zero, lg) {
      padding-bottom: 12px;
    }
    span {
      margin-left: 12px;
    }
  }
  .block {
    position: relative;
    width: calc(50% - 12px);
    overflow: hidden;
    background-color: $white-color;
    border-radius: 8px;
    padding: 16px 0 0;
    box-shadow: 0px 2px 16px 0px rgba(33, 43, 54, 0.08),
      0px 0px 0px 1px rgba(6, 44, 82, 0.1);
    @include breakpoints(zero, lg) {
      padding-top: 12px;
    }
  }
}
.topBlock {
  margin-bottom: 24px;
  @include breakpoints(zero, lg) {
    margin-bottom: 8px;
  }
}
.pageTitle {
  font-size: 20px;
  line-height: 28px;
  color: $character-title;
  margin-bottom: 24px;

  @include breakpoints(zero, lg) {
    margin-bottom: 16px;
  }
}
