@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";
.subtitle-set-password {
  color: $opacity-black;
  margin-bottom: 40px;
  @include mq(md, "max") {
    margin-bottom: 24px;
  }
  span {
    color: $character-title;
    font-weight: 500;
  }
}
.set-password-button {
  margin-top: 40px;
  @include mq(md, "max") {
    margin-top: 24px;
  }
  button {
    width: 100%;
  }
}
