@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.app-layout {
  .header {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.125rem -0.0625rem #00000026;
    position: relative;
    transition: 200ms background-color cubic-bezier(0.42, 0, 0.58, 1);
  }
  .ant-layout-sider {
    background: rgb(240, 242, 245);
  }
  .full-height-header {
    height: 100%;
  }
  .ant-menu {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    @include breakpoints(zero, lg) {
      box-shadow: unset;
    }
  }
  .layout-menu {
    .ant-menu-submenu {
      .ant-menu-sub {
        .ant-menu-item {
          .ant-menu-title-content {
          padding-left: 20px !important;
          }
        }
      }
    }
    svg {
      path {
        transition: stroke 0.4s;
      }
    }
    .ant-menu-item:hover {
      .ant-menu-title-content {
        color: $primary;
      }
      svg {
        path {
          transition: stroke 0.4s;
          stroke: $primary;
        }
      }
    }
    .ant-menu-title-content {
      padding-left: 10px;
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      svg {
        path {
          transition: stroke 0.4s;
          stroke: $primary;
        }
      }
    }
    .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(
        .ant-menu-submenu-selected
      ) {
      color: $primary;
      svg {
        path {
          transition: stroke 0.4s;
          stroke: $primary;
        }
      }
    }
  }
  .ant-menu-inline-collapsed {
    .ant-menu-item,
    .ant-menu-submenu-title {
      width: fit-content;
      svg {
        margin-bottom: -3px;
      }
    }
    .ant-menu-title-content {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
      animation: hideTitle 0.3s ease;
      display: inline-block;
      width: 0;
      padding-left: 0;
    }
    @keyframes hideTitle {
      from {
        display: block;
        padding-left: 10px;
        width: fit-content;
      }
      to {
        display: inline-block;
        width: 0;
        padding-left: 0;
      }
    }
  }
  .ant-menu-light .ant-menu-item-selected {
    background-color: $primary-background-hover;
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  .ant-menu-item-selected::after {
    width: 3px;
    background: $primary;
  }
  .btn-logout {
    @apply flex justify-center items-center gap-2;
    cursor: pointer;
  }
  .md-link-ant {
    color: $character-title;
  }
}
.ant-layout-sider-collapsed {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
.md-layout-contain-menu {
  @include breakpoints(zero, lg) {
    .ant-layout-sider {
      position: fixed;
      top: 0;
      flex: unset;
      height: 100%;
      overflow-y: auto;
      z-index: 1052;
      min-width: unset !important;
      width: 300px !important;
      .ant-menu {
        transition: width 0.3s;
        border-right: 0 !important;
        .ant-menu-item {
          opacity: 1;
        }
        .ant-menu-submenu-title {
          opacity: 1;
        }
      }
    }
  }
}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 30px;
}
.ant-menu-item {
  padding-left: 30px !important;
  @include breakpoints(zero, lg) {
    padding-left: 27px !important;
  }
}

.ant-menu-submenu-title {
  padding-left: 30px !important;
  @include breakpoints(zero, lg) {
    padding-left: 27px !important;
  }
}
.ant-layout-sider-collapsed {
  max-width: 77px !important;
  min-width: 77px !important;
  width: 77px !important;
  flex: 0 0 77px !important;
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
  .ant-menu-item {
    padding: 0 30px;
  }
}
.overflow-hidden {
  overflow: hidden !important;
}
.px-20px {
  padding-right: 20px;
  padding-left: 20px;
}
.md-layout-content {
  width: 100% !important;
}
.no-touch {
  touch-action: none;
  -ms-touch-action: none;
}
.md-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1051;
  animation: showText 0.2s ease;
  touch-action: none;
  -ms-touch-action: none;
}
@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.md-top-menu-on-mobile {
  display: none;
  @include breakpoints(zero, lg) {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    justify-content: space-between;
    background-color: rgb(240, 242, 245);
  }
}
.ant-menu-submenu-popup {
  .ant-menu-sub {
    .ant-menu-submenu:hover,
    .ant-menu-item:hover {
      .ant-menu-title-content {
        color: $primary !important;
      }
    }
  }
}
